# Clave secreta para la firma de JWT (¡Debe ser larga y compleja!)
JWT_SECRET_KEY=ClaveSecreta
JWT_EXPIRATION=3600000 #ejemplo

AUTH_DB_USER=user_dev
AUTH_DB_PASSWORD=dev_password
AUTH_DB_HOST=auth_db